/* core.css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.section {
    padding: 150px 0 100px;
}

.container {
    margin: 0 auto;
    width: 1175px;
}

.title {
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.title--white {
    color: #ffffff;
}

.text {
    color: #696969;
    line-height: 20px;
}

.title-article {

}

.title-article::after {
    content: ''
}

.section-desc-wrap {
    width: 449px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}
