/* core.css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

img {
    width: 100%;
}

.section {
    padding: 150px 0 100px;
}

.section--secondary {
    background-color: #ebebeb;
}

.container {
    margin: 0 auto;
    width: 1175px;
}

.section-desc-wrap {
    width: 449px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.section-desc-title {
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.section-desc-title--white {
    color: #ffffff;
}

.section-desc-text {
    line-height: 20px;
    font-weight: 400;
    color: #6e6e6e;
}

.text--white{
    color: white;
    line-height: 20px;
}

.title-article {

}

.title-article::after {
    content: ''
}

.section-article-title {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 40px;
    position: relative;
}

.section-article-title::after {
    content: "";
    top: 25px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #0075d0;
    display: block;
    position: absolute;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
