
.section-feature-posts {
    background-color: #f8f8f8;
}

.feature_post_image_text {
    background-color: white;
    font-size: 0;
}

.posts_block {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.posts_block > img {
    vertical-align: bottom;
    width: 100%;
}

.posts_block > p {
    padding-left: 5%;
    padding-top: 3%;
    font-size: 15px;

}


.header_in_post_block {
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 3%;
}

.see_more {
    padding-top: 15%;
    padding-left: 5%;
    position: relative;
    font-size: 15px;

}

.see_more::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #080808;
    position: absolute;
    top: 77%;
    right: 69.5%;
}


.blue_see_more::before {
    border-left: 6px solid #2b75c9;

}





@media screen and (max-width: 1024px) {
    .posts_block:nth-child(1),
    .posts_block:nth-child(6){
        margin-bottom: 1%;
    }
    .posts_block {
        width: 48%;
    }

    .see_more {
        padding-top: 4%;
        padding-bottom: 3%;
    }

    .see_more::before {
        top: 44%;
        right: 70.5%;
    }

}

@media screen and (max-width: 840px) {
    .posts_block:nth-child(1),
    .posts_block:nth-child(6){
        margin-bottom: 1%;
    }

    .posts_block {
        width: 48%;
    }

    .see_more {
        padding-top: 4%;
        padding-bottom: 3%;
    }

    .see_more::before {
        top: 44%;
        right: 70.5%;
    }

}

@media screen and (max-width: 600px) {
    .posts_block {
        width: 100%;
    }

    .see_more {
        padding-top: 10%;
        padding-bottom: 3%;
    }

    .see_more::before {
        top: 63%;
        right: 77.5%;
    }
}

@media screen and (max-width: 480px) {
    .posts_block {
        width: 100%;
    }

    .see_more {
        padding-top: 10%;
        padding-bottom: 3%;
    }

    .see_more::before {
        top: 63%;
        right: 77.5%;
    }
}

@media screen and (max-width: 320px) {

    .posts_block {
        width: 100%;
    }

    .see_more {
        padding-top: 10%;
        padding-bottom: 3%;
    }

    .see_more::before {
        top: 60%;
        right: 68.5%;
    }
}
