footer * img,
.social_networks_section * img {
    width: auto;
}

.social_networks_section {
    background-image: url("../assets/img/black_footer.png");
    padding: 4%;
}

.social_networks_links_description_wrap {
    max-width: 500px;
    margin: 0 auto;
}

.social_networks_links_description_wrap > div {
    width: 15%;
    display: inline-block;
}

.social_networks_links_description_wrap > div:not(:first-child) {
    margin-left: 8%;
}


.facebook {
    background: #0075D0;
}

.round {
    height: 72px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    line-height: 5em;
    text-align: center;
}

.footer_info > div {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin-right: 2%;
    text-align: left;
}

.name_futer_menu {
    height: 14px;
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
}

.name_futer_menu:after {
    content: ' ';
    position: absolute;
    top: 160%;
    left: 8%;
    width: 40px;
    border: 2px solid #347dcc;
    transform: translateX(-50%);

}

.bold_text {
    font-weight: bold;
    font-size: 15px;
}

.info_text {
    padding-top: 10%;
}

.phone_image, .phone_text, .mail_image, .mail_icon_text {
    display: inline-block;
}

.line_heigth_footer_text {
    line-height: 1.3;
    text-align: left;
}


.icon_with_info {
    margin-top: 5%;
}


.seach_button {
    background-color: #3d3d3d;
    color: white;
    border: 1px solid #3d3d3d;
    width: 50%;
    line-height: 200%;
}

.find_field {
    margin-bottom: 5%;
}

.input_text_size {
    width: 100%;
    background-color: #ebebeb;
    border: 0.5px solid #d3d3d3;
    line-height: 230%;
}

.footer_info {
    color: #6e6e6e;
    line-height: 20px;
    text-align: center;
    padding-top: 6%;
}


@media screen and (max-width: 1024px) {
    .footer_info {
        padding-top: 10%;
    }

    .footer_info > div {
        width: 40%;
        margin-bottom: 15%;
        margin-right: 2%;
    }

    .name_futer_menu:after {
        left: 6%;
    }

    .name_futer_menu {
        font-size: 19px;
    }

    .info_text {
        padding-top: 10%;
    }

}

@media screen and (max-width: 840px) {
    .footer_info {
        padding-top: 10%;
    }

    .footer_info > div {
        width: 44%;
        margin-bottom: 15%;
        margin-right: 2%;
    }

    .name_futer_menu:after {
        left: 9%;
    }

    .name_futer_menu {
        font-size: 19px;
    }

    .info_text {
        padding-top: 10%;
    }

}

@media screen and (max-width: 600px) {

    .footer_info {
        padding-top: 10%;
    }

    .social_networks_links_description_wrap > div {
        width: 32%;
        margin-left: 8%;
    }

    .round {
        height: 89px;
        line-height: 6em;
        margin-bottom: 3%;
    }

    .footer_info > div {
        width: 83%;
        margin-bottom: 15%;
        margin-right: 2%;
    }

    .name_futer_menu:after {
        left: 6%;
    }

    .name_futer_menu {
        font-size: 19px;
    }

    .info_text {
        padding-top: 10%;
    }
}

@media screen and (max-width: 480px) {

    .footer_info {
        padding-top: 10%;
    }

    .social_networks_links_description_wrap > div {
        width: 32%;
        margin-left: 8%;
    }

    .round {
        height: 89px;
        line-height: 6em;
        margin-bottom: 3%;
    }

    .footer_info > div {
        width: 83%;
        margin-bottom: 15%;
        margin-right: 2%;
    }

    .name_futer_menu:after {
        left: 6%;
    }

    .name_futer_menu {
        font-size: 19px;
    }

    .info_text {
        padding-top: 10%;
    }
}


@media screen and (max-width: 320px) {

    .footer_info {
        padding-top: 10%;
    }

    .social_networks_links_description_wrap > div {
        width: 32%;
        margin-left: 8%;
    }

    .round {
        height: 67px;
        line-height: 4em;
        margin-bottom: 3%;
    }

    .footer_info > div {
        width: 83%;
        margin-bottom: 15%;
    }

    .name_futer_menu:after {
        left: 10%;
    }

    .name_futer_menu {
        font-size: 19px;
    }

    .info_text {
        padding-top: 13%;
    }
}
