
.social_networks {
	background-image: url("../img/black_footer.png");
	width: 100%;

}

.social_link > div {
	text-align:center;
	float: left;
}
.facebook {
	background: #0075D0;
}
.round >img {
  width: 53%;
}

.facebook >img {
	width: 30%;
}

.social_link::after {
	content: '';
	clear: both;
	display: table;
}

.social_link {
	margin-left: 25%;
	padding: 4%;

}
.round {
	width: 2em;
	height: 2em;
	border: 2px solid #ffffff;
	border-radius: 50%;
	line-height: 2em;
	margin-left: 6%;
}


.footer {
	text-align: justify;
	margin-top: 5%;
}
.name_futer_menu {
	color: #6e6e6e;
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

.bold_text {
	font-weight: bold;
}


.contacts, .recent, .accreditations, .newsletter{
	float: left;
	width: 20%;
	color: #6e6e6e;
	font-size: 7px;
}

.contacts > img {
	float: left;
}

.name_futer_menu {
	white-space: nowrap;
	position: relative;
}

.name_futer_menu:after {
	content:' ';
	position: absolute;
	top: 73%;
	left: 10%;
	width: 20px;
	border: 1px solid #347dcc;
	transform:translateX(-50%);

}

.info {
	margin-left: 13%;
}

.info::after {
	content: '';
	clear: both;
	display: table;
}

.info > div {
	padding-left: 5%;
	width: 12%;
}

.info_text {
	padding-top: 10%;

}

.line_heigth_footer_text {
	line-height: 1.3;
}

.footer_info {
	text-align: center;
}

.icon_with_info {
	margin-top: 5%;
}

.phone_image, .mail_image {
	float: left;
	vertical-align: middle;
	margin-right: 5px;
	width: 5%;
}


.seach_button {
	background-color: #3d3d3d;
	color: white;
	border: 1px solid #3d3d3d;
	width: 50%;
	line-height: 200%;
}

.find_field {
	margin-bottom: 5%;
}

.input_text_size {
	width: 100%;
	background-color: #ebebeb;
	border: 0.5px solid #d3d3d3;
	line-height: 230%;
}

.footer_info {
	color: #6e6e6e;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	padding-top: 6%;
}