.section-portfolio-header {
    background-image: url("../assets/img/portfolio/bg-portfolio-headr.png");
    background-size: cover;
    padding-top: 10%;
}

.section-portfolio-categories {
    padding: 4%;
    text-align: center;

}

.section-portfolio-categories-links {
    display: inline-block;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 2%;
    position: relative;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.section-portfolio-categories-links:hover {
    border-bottom: 3px solid #0075d0;
}

.section-portfolio-gallery {
    font-size: 0;
}

.section-portfolio-gallery-block {
    display: inline-block;
    width: 25%;
    position: relative;
}

.section-portfolio-gallery-block-icon {
    position: absolute;
    background-color: #0075d0;
    width: 25%;
    height: 22%;
    background-image: url(../assets/icons/icon-portfolio-hover.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    display: none;
}

.section-portfolio-gallery-block-img:hover {
    opacity: .3;
}

.section-portfolio-gallery-block:hover {
    background-color: #000000;
}

.section-portfolio-gallery-block:hover
.section-portfolio-gallery-block-icon {
    display: block;
}


@media screen and (max-width: 720px) {
    .section-portfolio-gallery-block:nth-child(odd) {
        display: none;
    }


    .section-portfolio-gallery-block {
        width: 50%;
    }

}

@media screen and (max-width: 480px) {
    .section-portfolio-gallery-block:nth-child(-n+2) {
        display: none;
    }


    .section-portfolio-gallery-block {
        width: 100%;
    }
}
