.section-team {
    text-align: center;
}

.section-team-card {
    margin: 1%;
    width: 20%;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
}

.section-team-card-name {
    padding-top: 10%;
    text-transform: uppercase;
}

.section-team-card-job {
    padding-top: 1%;
    color: #0075d0;
}

.section-team-card-job::after {
    content: "";
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 50%;
    background-color: #959595;
    margin: 20px auto;
}

.section-team-cards-links {
    display: none;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-team-cards-links a {
    margin: 10%;
    display: block;
    background-image: url("../assets/icons/icon-sprite-team@2x.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.links-twitter {
    background-position: 0 0;
}

.links-linkedin {
    background-position: 0 -60px;
}

.links-flickr {
    background-position: 0 -120px;
}

.links-fb {
    background-position: 0 -180px;
}

.links-behance {
    background-position: 0 -240px;
}

.section-team-card:hover .section-team-cards-links {
    display: block;
}

.section-join-us {
    background-color: #0075d0;
    text-align: center;
    padding: 50px;
    position: relative;
}

.section-join-us::before {
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #ffffff;
    position: absolute;
    top: 0;
    right: 49.5%;
}

.section-join-us-wrap {
    padding-bottom: 0;
}

.section-join-us-btn {
    margin-top: 10%;
    width: 244px;
    height: 60px;
    border-radius: 27px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}

