<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/core.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header-logo">
            <img src="../icons/icon-logo-main.png" alt="" class="header-logo-main">
        </div>
        <nav class="header-nav">
            <a href="#" class="header-nav-link">Home</a>
            <a href="#about-us" class="header-nav-link">About us</a>
            <a href="#services" class="header-nav-link">Services</a>
            <a href="#porfolior" class="header-nav-link">Porfolior</a>
            <a href="#blog" class="header-nav-link">Blog</a>
            <a href="#contact" class="header-nav-link">Contact</a>
            <a href="#cart" class="header-nav-icon-cart"></a>
            <a href="search" class="header-nav-icon-search kabanhick"></a>
        </nav>
    </div>
</header>
<section class="section section-main-slogan">
    <div class="container section-main">
        <h1>Let us change the world</h1>
        <h2>WITHOUT TAKING POWER VIOLENTLY</h2>
        <button class="section-main-slogan-btn">Full view</button>
        <div class="section-main-slogan-scroll-btn">
            <div class="section-main-slogan-scroll-btn-circle">
                <a href="#contact" class="section-main-slogan-scroll-btn-circle-arror">
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>