<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/core.css">
    <link rel="stylesheet" href="../css/portfolio.css">

</head>
<body>
<!--portfolio-->
<section class="section-portfolio">
    <section class="section-portfolio-header">
        <div class="section-desc-wrap">
            <h2 class="section-desc-title section-desc-title--white">Portfolio</h2>
            <p class="section-desc-text section-desc-text--white">Awesome services our team can offer. Lorem Ipsum
                passages, and more recently
                with
                desktop publishing software like OneCloud
            </p>
        </div>
    </section>
    <section class="section-portfolio-categories">
        <a href="" class="section-portfolio-categories-links">all</a>
        <a href="" class="section-portfolio-categories-links">design</a>
        <a href="" class="section-portfolio-categories-links">wordpress</a>
        <a href="" class="section-portfolio-categories-links">support</a>
    </section>
    <section class="section-portfolio-gallery">
        <div class="section-portfolio-gallery-block">
            <img src="../image/img-porfolio-one.png" class="section-portfolio-gallery-block-img" alt="">
            <i class="section-portfolio-gallery-block-icon"></i>
        </div>
        <div class="section-portfolio-gallery-block">
            <img src="../image/img-portfolio-two.png" class="section-portfolio-gallery-block-img" alt="">
            <i class="section-portfolio-gallery-block-icon"></i>
        </div>
        <div class="section-portfolio-gallery-block">
            <img src="../image/img-portfolio-three.png" class="section-portfolio-gallery-block-img" alt="">
            <i class="section-portfolio-gallery-block-icon"></i>
        </div>
        <div class="section-portfolio-gallery-block">
            <img src="../image/img-portfolio-four.png" class="section-portfolio-gallery-block-img" alt="">
            <i class="section-portfolio-gallery-block-icon"></i>
        </div>
    </section>
</section>
<!--end porfolio-->

</body>
</html>
