<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/core.css">
    <link rel="stylesheet" href="../css/team.css">
</head>
<body>
<section class="section section-team">
    <div class="container">
        <div class="section-desc-wrap">
            <h1 class="section-desc-title">MEET AMAZING TEAM</h1>
            <p class="section-desc-text">Awesome services our team can offer. Lorem Ipsum passages, and more recently
                with desktop publishing software like OneCloud
            </p>
        </div>
        <div class="section-team-card">
            <img src="../image/img-team-person1@2x.png" alt="">
            <h3 class="section-team-card-name">Brad Pitt</h3>
            <p class="section-team-card-job">CEO & Designer</p>
        </div>
        <div class="section-team-card">
            <img src="../image/img-team-person2@2x.png" alt="">
            <h3 class="section-team-card-name">Cristina</h3>
            <p class="section-team-card-job">Designer</p>
        </div>
        <div class="section-team-card">
            <img src="../image/img-team-person3@2x.png" alt="">
            <h3 class="section-team-card-name">Orlando</h3>
            <p class="section-team-card-job">Developer Lead</p>
        </div>
        <div class="section-team-card">
            <img src="../image/img-team-person4@2x.png" alt="">
            <h3 class="section-team-card-name">Vasyl</h3>
            <p class="section-team-card-job">Creative Director</p>
        </div>
        <div class="section-team-card-links">
            <i class="section-team-card-links-twitter"></i>
            <i class="section-team-card-links-linkedin"></i>
            <i class="section-team-card-links-flickr"></i>
            <i class="section-team-card-links-fb"></i>
            <i class="section-team-card-links-behance"></i>
        </div>
    </div>
</section>
<section class="section-join-us">
    <div class="container">
        <section class="section-desc-wrap section-join-us-wrap">
        <h1 class="section-desc-title section-desc-title--white">JOIN OUR TEAM</h1>
        <p class="section-desc-text section-desc-text--white">Awesome services our team can offer.
            Lorem Ipsum passages, and more recently with
            desktop publishing software like OneCloud
        </p>
        <button class="section-join-us-btn">
            CAREER OPPORTUNITIES
        </button>
        </section>
    </div>
</section>
</body>
</html>